@model SofiaPropertiesPricePrediction.Models.PropertyViewModel

@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Result</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>